* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Raleway;

	width: 100%;
	/*height: 2792px;*/
}

h1, h2, h3, h4, h5, h6 {font-family: PlayfairDisplay;}

/*header*/
h1 {
	height: 47px;

	text-align: center;
	font-size: 35px;
	line-height: 47px;
	letter-spacing: 1px;
}
/*aside*/
h2 {
	font-size: 30px;
	line-height: 40px;
	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;
}
/*footer*/
h3 {
	height: 37px;

	text-align: center;
	font-size: 28px;
	line-height: 37px;
	letter-spacing: 1px;
}
/*reviews*/
h4 {
	height: 31px;

	font-size: 23px;
	line-height: 31px;
}
/*news1*/
h5 {
	height: 27px;

	font-size: 20px;
	line-height: 27px;
}
/*news2*/
h6 {
	font-size: 14px;
	line-height: 19px;
}

.image-description {
	text-align: center;
	font-size: 14px;
	line-height: 21px;
}

a {text-decoration: none;}

.centered {
	width: 1440px;
	margin-left: auto;
	margin-right: auto;
}

header {
	height: 740px;
    margin-top: 38px;

	background: #FFFFFF;
}

#header-h-wrap {margin-top: 22px;}

#top-nav {margin-top: 46px;}

nav {height: 18px;}

nav > ul {
	list-style: none;

	display: flex;
	justify-content: center;
	margin: 0px auto;
	padding-left: 0px;

	text-transform: uppercase;
}

nav > ul > li {
	padding: 0 25px;

	font-size: 15px;
	line-height: 18px;
	letter-spacing: 2px;
	color: #000000;
}

.top-slider {
	width: 100%;
	height: 399px;
	padding: 65px 0px 0px;
	margin-top: 55px;

	color: #FFFFFF;

	background-image: url(resources/images/Hotel-11.png);
}

.slider-item-new {
	left: 685px;
	margin: 0px auto 0px;

	width: 99px;
	height: 27px;

	background-color: #FF7931;

	text-align: center;
	line-height: 27px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.slider-item-name {
	left: 685px;
	margin: 49px auto 0px;

	height: 85px;

	text-align: center;
	font-family: RalewayLight;
	font-weight: 300;
	font-size: 72px;
	line-height: 85px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.slider-navigation {
	margin: 42px auto 0px;
	height: 42px;

	white-space: nowrap;
}

.nav-prev, .nav-next {
	display: inline-block;
	margin: auto;
	width: 704px;
	height: 42px;

	cursor: pointer;
}

.nav-prev {text-align: right;}

.nav-next {text-align: left;}

.nav-prev-text, .nav-next-text {
	display: inline-block;
	overflow: hidden;

	font-size: 13px;
	line-height: 42px;
}

.nav-prev-text {margin: auto;}

.nav-next-text {margin: auto;}

.nav-prev-line, .nav-next-line {
	display: inline-block;

	vertical-align: top;
	margin: 0px 10px;
	width: 64px;
	height: 21px;

	border-bottom: 1px solid #FFFFFF;
}

.nav-prev-arrow, .nav-next-arrow{
	display: inline-block;
	position: relative;
	width: 10px;
	height: 42px;
}

.nav-next-arrow {transform: rotate(180deg);}

.nav-prev-arrow > img, .nav-next-arrow > img {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	margin: auto;
}

.nav-separator {
	display: inline-block;

	position: relative;
	margin: 0px 15px;
	width: 0px;
	height: 42px;
}

.nav-separator > img {
	position: absolute;
	top: 0px;
	bottom: 0px;
	margin: auto;
}

.slider-description {
	margin: 55px auto 0px;

	width: 456px;
}



/*helping css*/
/*.news-content * {border: 1px solid black;}*/

.content {
	width: 1170px;
	padding: 3px 135px 0px;
}

main {
	display: inline-block;
	width: 769px;
}

.content-header {
	height: 20px;

	font-family: RalewayBold;
	font-size: 17px;
	line-height: 20px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.news-content {
	margin-top: 15px;
	height: 335px;
}

.big-image {
	display: inline-block;
	overflow: hidden;

	width: 470px;
	height: 334px;

	background-image: url(resources/images/1344287851_w640_h640_33_107.png);
}

.small-images {
	display: inline-block;
	overflow: hidden;

	margin-left: 28px;
	width: 271px;
	height: 334px;

/*	flex-direction: column;
	justify-content: space-between;*/
}

.small-image {
	display: inline-block;
	width: 127px;
	height: 91px;

	/*rewrite in js*/
	background-image: url(resources/images/3800.png);
}

.small-image-description-wrap {
	display: inline-block;

	margin-left: 12px;
	width: 132px;
}

.small-image-description-text {
	font-size: 10px;
	line-height: 15px;
}

aside {
	display: inline-block;
	float: right;

	width: 370px;
}

footer {
	padding-top: 26px;
	width: 100%;
	height: 169px;
	background: #F7F7F7;
}

#bottom-nav {margin-top: 32px;}

.separator {
	margin: 46px auto 0px;
	width: 1170px;

	border-top: 1px solid #B3B3B3;
}

.copyright {
	margin: 8px auto 0px;
	width: 1170px;

	font-size: 10px;
	line-height: 15px;
	text-align: right;

	color: #000000;

	opacity: 0.2;
}

